.StyledSlide {
    width: 180px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .StyledSlide img {
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%; /* Establece el ancho al 100% del contenedor */
    height: 150px; /* Establece la altura deseada para las imágenes */
    object-fit: cover; /* Escala las imágenes manteniendo la relación de aspecto y recortando si es necesario */
  }
  
  .StyledSlide h5 {
    margin-bottom: 16%;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }
  
  @media (min-width: 1000px) {
    .StyledSlide {
      padding-left: 20%; /* Incrementa el espaciado para vistas mayores a 1000px */
    }
  }
  
  @media (max-width: 600px) {
    .StyledSlide h5 {
      font-size: 24px   /*en caso de querer ajustar el tamañito en mobile: aca hay que hacerlo*/
    }
  }
  
  .Stack {
    background-color: #FF6633;
    width: 100%;
    height: 230px;
    border-radius: 30px;
  }

  .StackNoImg {
    background-color: #FF6633;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    border-radius: 30px;
  }
  